@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    -webkit-appearance: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

li, a {
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans';
    padding: 12px 13%;
    background-color: black;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.25);
}

.shopping__cart__link {
    max-width: 24px;
    max-height: 20px;
}

.shopping__cart {
    max-width: 24px;
    max-height: 20px;
    pointer-events: none;
}

.logo {
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a, .logo {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover, .logo:hover {
    color: #AEAEAE;
}